@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('http://fonts.googleapis.com/css?family=Indie+Flower');
header
{
font-family:Shadows Into Light;
font-size:2em;
margin-left:21%;
font-weight:bold;
}
span
{
font-family:Shadows Into Light;
font-size:1em;
margin-left:7%;
font-weight:bold;
color:red;
}
input{
margin-left:8%;
font-family:Indie Flower;
height:3em;
width:26em;
border: 0;
outline: 0;
background: transparent;
border-bottom: 2px solid black;
font-size:14;
font-style:bold;
color:#000000;
}
table{
margin-left:32%;
width:36%;
border:3px solid black;
}
textarea{
margin-left:8%;
font-family:Indie Flower;
}
div{
border:2px solid black;
border-radius: 25px;
background-color:black;
font-size:1.1em;
}
#b{
color:white;
font-weight:bold;
}
input-placeholder { 
    color:black;
    }
::-webkit-input-placeholder { /* WebKit browsers */
    color:black;
}
